<template name="rightbar">
	<div class="col-xs-12 col-md-2" role="navigation">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{>_loginButtons}}</li>
          </ul>
          <ul class="nav navbar-nav">
          	{{#if currentUser}}<li><a href="{{pathFor 'createKhanvo'}}">New</a></li>{{/if}}
            <li><strong>{{khanvoName}}</strong><a href="#" class="follow btn {{followedClass}}">⬆</a></li>
            {{#if isMember}}
              <li>
                <form role="form">
                  <div class="form-group">
                    {{> inputAutocomplete settings=settings name="newMember" class="input-xlarge" placeholder="Invite a friend"}}
                    <button type="submit" class="btn btn-default">Add</button>
                  </div>
                </form>
              </li>
            {{/if}}
            <li>
              <p>Members</p>
              <ul>
                {{#each member khanvoName}}<li>{{members}}</li>{{/each}}
              </ul>
            </li>
          </ul>
        </div>
      </div>
	</div>
</template>
